{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/carousel-1.webp" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-3 text-white mb-md-4">Découvrons ensemble l'Oriental</h1>
                            <a href="{{ path('app_city_index') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">découvrir</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-3 text-white mb-md-4">Découvrez des endroits incroyables avec nous</h1>
                            <a href="{{ path('app_city_index') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">découvrir</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>


    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Villes de l'Oriental</title>
        <style>
            h2 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #2c3e50;
                background: linear-gradient(to right, #00c3ff, #ffff1c);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 2em;
                text-align: center;
                margin-top: 50px;
                text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
            }
        </style>
    </head>
    <body>
    <h2>Voici quelques villes dans la région de l'Oriental 🌍</h2>
    </body>
    </html>


    <!-- VILLE DE OUJDA  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/city/wajda.jpeg" alt="Vue d'Oujda">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">01</h6>
                                    <small class="text-white text-uppercase">OUJDA</small>
                                </div>

                            </div>
                        </div>
                        <br><h2 class="mb-3">Découvrez Oujda, la perle de l'Oriental</h2>

                        <p>Oujda, située à l’extrême nord-est du Maroc, est une ville riche en histoire, culture et traditions. Connue comme la porte de l’Oriental, elle offre un mélange unique de patrimoine andalou, de charme berbère et d’influences modernes.</p>

                        <p>Le centre-ville d’Oujda regorge de monuments historiques comme la médina, la grande mosquée construite au XIIIe siècle, ainsi que le Parc Lalla Aïcha, un espace vert emblématique. La ville est également célèbre pour son festival de musique gharnatie et ses souks animés.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/foret.jpeg" alt="Lieux naturels Oujda">

                        <p>À proximité, vous trouverez des sites naturels magnifiques comme les grottes de Sidi Maâfa, les forêts de Beni Snassen ou encore les plages de Saïdia à moins d’une heure de route. Ces destinations offrent une belle escapade pour les amoureux de la nature.</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/festival.jpg" alt="Festival Oujda">
                        <p>Chaque été, Oujda accueille des festivals comme le Festival international du Rai, où se produisent des artistes de renom. Le patrimoine musical de la ville, notamment la musique gharnatie, y est célébré avec passion par les habitants.</p>
                    </div>

                    <!-- Reservation a oujda -->
                    <div class="col-12 mt-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Reservation propose</h4>
                        <div class="row g-4"> <!-- g-4 pour un espacement uniforme entre les colonnes -->

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/city/ma/oujda.fr.html?aid=301664;label=oujda-I8s5MbxakXICtUwnnF85vwS263204448643:pl:ta:p110:p2:ac:ap:neg:fi:tikwd-1276744783:lp1009983:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9YSNxgVPQVI7AMnn1KDvPMRs;ws=&gad_campaignid=12548224">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hotel" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels sur booking.com | Découvrez nos super offres a Oujda</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Oujda">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurant sur Guru.com | Découvrez nos super offres a Oujda</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/oujda.htm?odin=134&campaigntype=search_destino">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voitures" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Cars sur carjet.com | Découvrez nos super offres a Oujda</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- VILLE DE NADOR  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/nador.jpg" alt="Vue de Nador">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">02</h6>
                                    <small class="text-white text-uppercase">NADOR</small>
                                </div>
                            </div>
                        </div>
                        <br><h2 class="mb-3">Découvrez Nador, joyau du Rif oriental</h2>

                        <p>Nador, nichée entre mer et montagne dans le nord-est du Maroc, est une ville côtière en plein essor. Réputée pour sa lagune emblématique, la Mar Chica, elle séduit par ses paysages naturels, son calme et son authenticité.</p>

                        <p>Le centre-ville offre une ambiance paisible avec ses cafés, marchés locaux et promenades en bord de mer. La ville bénéficie d’un développement touristique rapide, tout en conservant une atmosphère conviviale et chaleureuse.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/la-lagune-de-nador.jpg" alt="Lagune de Nador">

                        <p>Ne manquez pas la Mar Chica, une lagune majestueuse propice à l’observation des oiseaux et aux balades en bateau. À proximité, explorez le Cap des Trois Fourches ou profitez des plages de Boukana et Charrana, idéales pour se détendre.</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/festival-nador.jpg" alt="Festival Nador">
                        <p>Nador accueille des événements culturels locaux, où se mêlent musiques rifaines, artisanat et traditions culinaires. La ville est un carrefour entre la culture amazighe et méditerranéenne.</p>
                    </div>

                    <!-- Reservation a nador  -->
                    <div class="col-12 mt-5">
                        <div class="row g-4">
                            <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Reservation proposee</h4>

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/city/ma/nador.fr.html">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hotel Nador" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels sur booking.com | Réservez à Nador au meilleur prix</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Nador">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant Nador" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurants à Nador | Trouvez les meilleures adresses</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/nador.htm">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voitures à Nador" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Location de voitures à Nador | Offres imbattables</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>



    <!-- VILLE DE BERKAN  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/city/Berkane.jpg" alt="Vue de Berkane">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">03</h6>
                                    <small class="text-white text-uppercase">BERKANE</small>
                                </div>
                            </div>
                        </div>
                        <br><h2 class="mb-3">Explorez Berkane, capitale des agrumes</h2>

                        <p>Berkane, située dans la région de l’Oriental au nord-est du Maroc, est connue comme la capitale des agrumes, notamment pour ses délicieuses oranges. Entourée de plaines fertiles et de montagnes, elle offre un cadre naturel agréable et paisible.</p>

                        <p>La ville allie modernité et traditions rurales. Son souk central, ses petites ruelles et ses cafés populaires reflètent l’hospitalité de ses habitants. Elle constitue également un point de passage important vers les plages de Saïdia, situées à une vingtaine de kilomètres.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/nature-berkan.webp" alt="Orangers de Berkane">

                        <p>Ne manquez pas la vallée de la Moulouya, les plantations d’agrumes qui s’étendent à perte de vue, et les sources thermales de Fezouane à proximité. C’est un lieu idéal pour les amoureux de la nature et du calme rural.</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/Berkane_Reggada.webp" alt="Festival à Berkane">
                        <p>Chaque année, Berkane organise un festival des agrumes, célébrant la richesse agricole de la région. La ville est aussi fière de son héritage amazigh et propose des expositions, des musiques traditionnelles et des danses folkloriques.</p>
                    </div>

                    <!-- Reservation d'hotel -->
                    <div class="col-12 mt-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Reservation proposee</h4>
                        <div class="row g-4">

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/city/ma/berkane.fr.html">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hôtel à Berkane" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels sur booking.com | Réservez à Berkane</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Berkane">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant à Berkane" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurants à Berkane | Découvrez les meilleures adresses</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/berkane.htm">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voiture à Berkane" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Location de voitures à Berkane | Offres spéciales</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>



    <!-- VILLE DE SAIDIA  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/saidia.jpg" alt="Vue de Saïdia">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">04</h6>
                                    <small class="text-white text-uppercase">SAÏDIA</small>
                                </div>
                            </div>
                        </div>
                        <br><h2 class="mb-3">Découvrez Saïdia, la Perle Bleue du littoral marocain</h2>

                        <p>Située au bord de la Méditerranée, Saïdia est l’une des plus belles stations balnéaires du Maroc. Avec ses plages de sable fin qui s’étendent sur plus de 14 km, elle attire les visiteurs en quête de détente, de soleil et d’eaux turquoise.</p>

                        <p>La ville offre un cadre touristique moderne avec des complexes hôteliers, un port de plaisance, des terrains de golf et une médina touristique. L’atmosphère y est estivale, joyeuse et familiale.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/saidia-plage.jpg" alt="Plage de Saïdia">

                        <p>Profitez des longues plages pour bronzer, nager ou pratiquer des sports nautiques. La marina de Saïdia propose des excursions en mer, tandis que la promenade en bord de mer est idéale pour les balades au coucher du soleil.</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/festival-saidia.jpg" alt="Festival à Saïdia">
                        <p>Chaque été, Saïdia accueille des festivals de musique et des animations culturelles qui attirent des artistes nationaux et internationaux. Les traditions locales y sont célébrées dans un esprit festif et accueillant.</p>
                    </div>

                    <!-- Reservation a saidia -->
                    <div class="col-12 mt-5">
                        <div class="row g-4">
                            <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Reservation proposee</h4>

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/city/ma/saidia.fr.html">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hôtel à Saïdia" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels sur booking.com | Réservez vos vacances à Saïdia</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Saidia">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant à Saïdia" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurants à Saïdia | Goûtez aux saveurs méditerranéennes</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/saidia.htm">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voiture à Saïdia" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Location de voitures à Saïdia | Explorez librement la région</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>




    <!-- VILLE DE TAOURIRT  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/taourirt.webp" alt="Vue de Taourirt">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">05</h6>
                                    <small class="text-white text-uppercase">TAOURIRT</small>
                                </div>
                            </div>
                        </div>
                        <br><h2 class="mb-3">Visitez Taourirt, entre histoire et nature</h2>

                        <p>Située dans la région de l’Oriental, Taourirt est une ville tranquille, réputée pour son patrimoine historique et son authenticité. Elle est particulièrement connue pour sa kasbah, l’un des plus beaux monuments traditionnels du sud-est marocain.</p>

                        <p>Taourirt se trouve à un carrefour stratégique entre Oujda, Nador et Errachidia. C’est un lieu de passage idéal pour explorer le Maroc profond, tout en profitant de son ambiance paisible et de son accueil chaleureux.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/kasbah-taourirt.png" alt="Kasbah de Taourirt">

                        <p>Le joyau de la ville est sans conteste la Kasbah de Taourirt, un imposant édifice aux allures de forteresse. Vous pourrez également explorer les marchés locaux, les oasis environnantes, ou faire une halte en route vers le désert.</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/festival-taourirt.jpg" alt="Festival à Taourirt">
                        <p>Taourirt accueille divers événements culturels locaux, dont des festivals de musique populaire et des foires agricoles. L’artisanat berbère et les produits locaux y sont mis à l’honneur tout au long de l’année.</p>
                    </div>

                    <!-- Reservation a taourirt -->
                    <div class="col-12 mt-5">
                        <div class="row g-4">
                            <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Réservation proposée</h4>

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/city/ma/taourirt.fr.html">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hôtel à Taourirt" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels sur booking.com | Réservez votre séjour à Taourirt</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Taourirt">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant à Taourirt" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurants à Taourirt | Dégustez la cuisine locale</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/taourirt.htm">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voiture à Taourirt" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Location de voitures à Taourirt | Explorez la région à votre rythme</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>



    <!-- VILLE DE FIGUIG  -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="/upload/city/figuig.jpg" alt="Vue de Figuig">
                                <div class="blog-date">
                                    <h6 class="font-weight-bold mb-n1">06</h6>
                                    <small class="text-white text-uppercase">FIGUIG</small>
                                </div>
                            </div>
                        </div>
                        <br><h2 class="mb-3">Figuig, l’oasis aux portes du désert</h2>

                        <p>Figuig est l’une des oasis les plus emblématiques du Maroc. Nichée dans l’extrême est du pays, à la frontière algérienne, cette ville est réputée pour ses palmeraies, ses ksours (villages fortifiés), et son architecture en terre ocre.</p>

                        <p>Ancien carrefour commercial du Sahara, Figuig conserve un mode de vie traditionnel préservé. On y trouve une hospitalité authentique, un riche patrimoine culturel, et une nature fascinante mêlant désert, montagnes et oasis.</p>

                        <h4 class="mb-3">À ne pas manquer</h4>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="/upload/Palmeraie-Figuig.jpeg" alt="Palmeraie de Figuig">

                        <p>La palmeraie de Figuig est l’une des plus anciennes du Maroc, s’étendant sur plusieurs centaines d’hectares. Vous pourrez aussi visiter les ksours de Zenaga et Loudaghir, ainsi que les anciens canaux d’irrigation (foggara).</p>

                        <h5 class="mb-3">Culture et tradition</h5>
                        <img class="img-fluid w-50 float-right ml-4 mb-2" src="/upload/Amazigh.jpg" alt="Festival Figuig">
                        <p>Figuig est riche en traditions amazighes et arabes. Des festivals locaux célèbrent la musique saharienne, la poésie et les produits agricoles comme les dattes. Les habitants perpétuent un artisanat typique, notamment en poterie et en tissage.</p>
                    </div>

                    <!-- Reservation a figuig -->
                    <div class="col-12 mt-5">
                        <div class="row g-4">
                            <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Reservation proposee</h4>

                            <!-- Reservation d'hotel -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.booking.com/searchresults.fr.html?ss=Figuig%2C+Est%2C+Maroc&efdco=1&label=gen173rf-1FCAQoggJCC2NpdHlfLTQxMzA3SA1YA2iMAYgBAZgBDbgBF8gBDNgBAegBAfgBAogCAaICDjEyNy4wLjAuMTo4MDAwqAIDuAKtxoLCBsACAdICJDcxNzJiOTg2LTE4Y2UtNGQ3NS1iY2M5LWZmNDJkODNlMjQzZNgCBeACAQ&aid=304142&lang=fr&sb=1&src_elem=sb&src=searchresults&dest_id=-32944&dest_type=city&place_id=city%2F-32944&ac_position=1&ac_click_type=b&ac_langcode=fr&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=e26e8b56a804087c&ac_meta=GhBlMjZlOGI1NmE4MDQwODdjIAEoATICZnI6A2ZpZ0AASgBQAA%3D%3D&checkin=2025-07-05&checkout=2025-07-11&group_adults=2&no_rooms=1&group_children=0">
                                    <img class="img-fluid rounded mb-2" src="/upload/hotel.jpeg" alt="Hôtel à Figuig" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Hôtels à Figuig | Réservez sur Booking.com</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de restau -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://fr.restaurantguru.com/Figuig">
                                    <img class="img-fluid rounded mb-2" src="/upload/restaurant.avif" alt="Restaurant Figuig" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Restaurants à Figuig | Découvrez la gastronomie locale</h6>
                                    </div>
                                </a>
                            </div>

                            <!-- Reservation de voiture -->
                            <div class="col-md-4 d-flex">
                                <a class="d-flex flex-column text-decoration-none bg-white shadow-sm p-3 rounded w-100 h-100" href="https://www.carjet.com/fr/maroc/location-de-voitures/figuig.htm">
                                    <img class="img-fluid rounded mb-2" src="/upload/car.jpg" alt="Voiture Figuig" style="width: 100%; height: auto; object-fit: cover;">
                                    <div>
                                        <h6 class="m-0 text-dark">Location de voiture à Figuig | Partez à l’aventure</h6>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Fin Articles récents -->
                </div>
            </div>
        </div>
    </div>


    <!-- Début Témoignages -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Témoignages</h6>
                <h1>Ce que disent nos clients</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="/upload/comment/comment1.jpg" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Un service personnalisé et une équipe toujours disponible. Merci pour ces vacances parfaites .</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="upload/comment/yasmin.webp" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Une expérience inoubliable, je recommande vivement cette agence de voyage.</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="/upload/comment/comment2.webp" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Organisation au top du début à la fin, avec une réservation impeccable. Je referai appel à vous sans hésiter</p>
                        <h5 class="text-truncate">Nom du client</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Témoignages -->

{% endblock %}
