<form method="post" action="{{ path('app_car_delete', {'id': car.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette voiture ?');"
      class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    {% if is_granted("ROLE_ADMIN") %}
    <button class="btn btn-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>
    {% endif %}

</form>
